body {
    margin: 0;
    padding: 0;
    background:#1c478e;
    color: #061C37;
    text-align: left;
    font: 12px Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-image: url(../images/background.png);
    background-repeat: repeat-x;
}
#container{
	width: 100%;
}
#title{
    height:85px;
	width:960px;
   
}
#title h1 {
     float: left;
    margin-top: 0px;
    padding-left: 180px;
    padding-top: 20px;
    font-size: 43px;
    color:#FFFFFF;
}
#title h2 {
   float: right;
    padding: 20px 0 0px 0px;
    margin-right: -150px;
    color:#A9D1FA;
}
.blue{
    color:#67A0F5;
}
.now-text{
    color: white;
    font-size: 22px;
}
#title-bar{
    margin: auto;
    padding: 0px;
}
#title-bar ul {
    margin-left: 110px;
    padding-top: 5px;

}
#title-bar li {
    display: inline;

   
}
#title-bar a{
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-weight: bold;
    font-size: 15px;
    
}
#left-menu{
	float:left;
	background-color:#1C478E;
	border-radius:10px;
	padding:15px 20px 5px 10px;
    margin-left: 170px;
    margin-top: 20px;
    width: 190px;
}
#left-menu ul{
    list-style: none;
    
}
#left-menu li{
    border-bottom: dashed 1px white;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: -40px;
}
#displayname{
    color: white;
    font-size: 15px;
    float: right;
    position: relative;
    bottom: 30px;
    right: 30px;
    font-weight: bold;
}
#left-menu a{
    color: white;
    text-decoration: none;
    font-size: 17px
}
#left-menu h2{
    color: white;
    border-bottom: 2px solid white;
    padding-bottom:5px;
    margin-left: 0px;
}
#left-menu h3{
    color: white;
    border-bottom: 2px solid white;
    padding-bottom:5px;
    margin-left: 0px;
}
#left-menu h4{
    color: white;
    padding-bottom:5px;
    margin-left: 0px;
    font-size: 12px;
}
#left-menu a:hover{
    color:#87BCF8;
}
#left-menu input[type="text"], #left-menu input[type="email"]{
    margin-bottom: 10px;
}
#content{
    background-color: white;
   border-radius:10px;
	border:6px solid #1C478E;
    float: left;
    width:55%;
    padding: 15px;
	height:auto;
    margin-top:20px;
	margin-left:5px;
    
}
#content img{
    float: right;
    margin: 15px;
}
h2{
	padding-bottom:1px;
}

h3{
	font-size:16px;
	font-weight:bold;
	padding:5px 0 5px 0;
	color:#054dbc;
}


h4{
	font-size:15px;
	font-weight:bold;
	padding:0px 0px 10px 0px;;
	color:#054dbc;
    margin-top:0px;
    
}

p{
	margin:10px 0 10px 0;
}
#down{
    background-color: white;
    border-radius:10px;
	border:6px solid #1C478E;
    float: right;
    width:55%;
    padding: 15px;
	height:auto;
    margin-top:15px;
	margin-right:140px;
}
#down  ul{
	margin-top:-10px;
	padding:0;
	list-style:none;
}
#down .developer {
    float: right;
    width: 168px; 
}
#down .developer ul li{
	line-height:1.5em;
}
.hello    {
    background: #2658a9;
    color:white;
    font-size: 16px;
    padding: 3px;
    font-weight: bold;
}


table{
    font-size:17px;
    padding:10px 0 10px 0;
   
}
  th{
    text-align: center;
}

td{
	padding:5px 20px 5px 20px;
    
}
table.special td,table.special tr,table.special th{
     border-bottom: dashed black 1px;
}

label {
    display: inline-flex;
    width: 150px;
}
.lege{
    text-align: center;
    margin-bottom: 10px;
}
